{{/* using this command users can view a ping that was deleted 
usage : -snipe
made by sponge :D
*/}}
{{/* CONFIGURATION VARIABLES START */}}
{{$timer := 3600}} {{/* time in seconds after which you want the user's snipe entry to be deleted */}}
{{/* CONFIGURATION VARIABLES END */}}


{{if .ExecData}}
{{dbDel .ExecData.User "snipe"}}
{{else}}
{{if .Message.Mentions}}
{{range .Message.Mentions}}
{{dbSet .ID "snipe" (sdict "User" (str $.User.String) "MessageID" (str $.Message.ID) "ChannelID" (str $.Channel.ID) "UserAvatar" (str ($.User.AvatarURL "1024")) "MessageContent" (str $.Message.Content))}}
{{scheduleUniqueCC .CCID nil $timer (str .User.ID) (dict "User" .User.ID)}}
{{end}}
{{end}}
{{if reFind `\A-snipe\z` .Message.Content}}
{{$db := dbGet .User.ID "snipe"}}
{{if $db}}
{{$sdict := sdict $db.Value}}
{{if not (getMessage $sdict.ChannelID $sdict.MessageID)}}
{{sendMessage nil (cembed "author" (sdict "name" $sdict.User "icon_url" $sdict.UserAvatar) "fields" (cslice (sdict "name" "Message" "value" (print $sdict.MessageContent)) (sdict "name" "where the message was" "value" (print "[Link](https://discord.com/channels/" .Guild.ID "/" $sdict.ChannelID "/" $sdict.MessageID ")"))))}}
{{else}}
there was something to snipe but the message wasnt deleted
{{end}}
{{else}}
theres nothing to snipe!
{{end}}
{{end}}
{{end}}
